.info-text-width {
    width: 100%;
}

.card-perubahan {
    max-height: 600px;
}

ul {
    list-style-type: none;
}
@media (max-width: 612px) {
    .info-perubahan {
        font-size: 12px;
    }
}

.profile-photo {
    width: 96px;
}

.border-black {
    border-color: darkslategray;
}
